.more-btn {
   position: absolute;
   right: 15px;
   bottom: 0px;
   display: flex;
   column-gap: 5px;
   align-items: flex-end;
   justify-content: center;
   width: min-content;

   & title {

      font-weight: 700;
      font-size: 20px;
      line-height: 1.7;
      text-align: right;
      text-transform: uppercase;
      color: var(--green-1, #86ac6a);
   }

   & arrow {
      width: 24px;
      height: 24px;
      border: none;
      border-radius: 4px;
      background-color: transparent;
      transition: all 0.18s ease-in-out;
   }

   & icon {
      width: 24px;
      height: 24px;
      padding: 5px 0px;
      fill: var(--green-1);
      background-color: var(--green-1);
   }

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 3px solid var(--white);
      outline-offset: 5px;
      border-radius: 1px;
   }

   &:hover {
      text-decoration: underline;
      color: var(--white);
   }
}
