.consulting {
   border-radius: 25px;
   padding: 50px 70px 48px 70px;
   background: var(--green-3, #1f302d);
}


.consulting__container {

   & h2 {
      max-width: 528px;

      margin: 0 auto;
      text-align: center;
      color: var(--white, #ffffff);

      & span {
         color: var(--green-1, #86ac6a);
      }
   }
}


.consulting__content {
   & ol {
      display: flex;
      flex-wrap: wrap;
      row-gap: 10px;
      column-gap: 50px;
      justify-content: center;
      margin-top: 50px;

      & li {
         width: 326px;
         text-align: center;

         & span {
            position: relative;
            font-weight: 700;
            font-size: 60px;
            line-height: 1.5;
            text-shadow: 0px 0.2391890585422516px 1.5945937633514404px rgba(134, 172, 106, 0.13), 0px 0.543455958366394px 3.623039960861206px rgba(134, 172, 106, 0.19), 0px 0.9458610415458679px 6.3057403564453125px rgba(134, 172, 106, 0.23), 0px 1.5025862455368042px 10.017241477966309px rgba(134, 172, 106, 0.27), 0px 2.3183789253234863px 15.455859184265137px rgba(134, 172, 106, 0.31), 0px 3.6176488399505615px 24.117658615112305px rgba(134, 172, 106, 0.35), 0px 6.005859375px 40.0390625px rgba(134, 172, 106, 0.41), 0px 12px 80px rgba(134, 172, 106, 0.54);
            color: var(--green-1, #86ac6a);

            &::after {
               content: "";
               position: absolute;
               left: 59%;
               top: 43%;
               width: 190px;
               height: 190px;
               border-radius: 50px;
               background-image: url('/img/ic-consult-spinner.svg');
               background-position: center;
               background-size: cover;
               background-repeat: no-repeat;
               transform: translate(-50%, -50%);

            }
         }

         & h3 {
            color: var(--white, #ffffff);
         }

         & p {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.7;
            color: rgba(255, 255, 255, 0.80);
         }
      }
   }
}


.consulting__more-link {
   display: block;
   width: fit-content;
   margin: 75px auto 0 auto;
   text-align: center;
}
