.promo {
   width: 100%;
   height: 100vh;
   padding: 210px 0 75px;
   background-image: url("/img/promo-bg.png");
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   background-color: var(--gray-1);
}


.promo__content {
   max-width: 571px;
}


.promo__title {
   padding-bottom: 20px;
}


.promo__page-descr {
   padding-right: 40px;
   padding-bottom: 40px;
   letter-spacing: 1.4px;
}


.promo__btn {
   margin-bottom: 125px;
}


.metrics {
   display: flex;
   column-gap: 25px;

   & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px;
      padding: 8px 10px 15px 10px;
      box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.10);
      background: rgba(255, 255, 255, 0.10);
   }

   & dd {
      font-weight: 700;
      font-size: 35px;
      line-height: 1.5;
      color: #c1dcae;
   }

   & dt {
      font-weight: 700;
      font-size: 13px;
      line-height: 1.7;
      text-align: center;
      color: var(--white);

      & span {
         display: block;
         font-weight: 600;
         font-size: 10px;
         line-height: 1.7;
         opacity: 0.8;
      }
   }
}
