.analitics {
   padding: 110px 0 70px;
   background: var(--white, #ffffff);
}


.analitics__header {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   align-items: start;
   justify-items: start;

   & h2 {
      grid-column: 7 span;

      & span {
         color: var(--green-1, #86ac6a);
      }
   }

   & .more-btn {
      grid-column: 10 / span 3;
      justify-self: end;
      margin-top: 16px;
   }
}


.analitics__content {
   margin-top: 70px;

   & ul {
      display: flex;
      column-gap: 12px;
      align-items: start;

      justify-content: space-between;
      --font-color: var(--gray-1, #232323);
      --bg-list: var(--green-4, #eef3ea);
      --circle-color: var(--white, #ffffff);

      & li {
         display: flex;
         flex-direction: column;
         row-gap: 15px;
         align-items: center;
         justify-content: start;
         min-height: 278px;
         border-radius: 15px;
         padding: 25px 16px 28px 16px;
         font-weight: 700;
         font-size: 16px;
         line-height: 1.7;
         text-align: center;
         color: var(--font-color);
         background: var(--bg-list);
         transition: all 0.31s ease-in-out;

         &:hover {
            --font-color: var(--white, #ffffff);
            --bg-list: var(--green-1, #86ac6a);

            & div {
               background: var(--circle-color-transparent);
               --circle-color-transparent: #eef3ea;

               &::after {
                  --circle-color: #86ac6a;
               }
            }

            & span {
               & svg {
                  fill: var(--white);
                  transform: none;
               }
            }
         }

      }

      & span {
         flex-grow: 1;
         width: 27px;
         height: 15px;
         color: var(--green-1);

         & svg {
            position: relative;
            top: 42%;
            z-index: 35;
            width: 100%;
            height: 100%;
            /* margin-top: 72px; */
            fill: currentColor;
            transform: rotate(180deg);

            &:hover {
               fill: var(--white);
               transform: none;
            }
         }
      }

      & p {
         flex: 0;
         max-width: 158px;
      }

      & div {
         position: relative;
         z-index: 5;
         width: 66px;
         height: 66px;
         border-radius: 50%;
         padding: 17px 13px 0;
         background: var(--circle-color-solid);
         --circle-color-solid: var(--green-1, #86ac6a);

         &::after {
            content: "";
            position: absolute;
            left: 59%;
            top: 43%;
            z-index: 10;
            display: block;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background: var(--circle-color);
            transform: translate(-50%, -50%);
         }

         & svg {
            position: relative;
            z-index: 25;
            width: 41px;
            height: 41px;
            fill: var(--green-3, #1f302d);
            background-repeat: no-repeat;
         }
      }
   }
}


.analitics__dropdown-container {
}


.dropdown-container {
   display: none;

   & ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 47px 58px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.7;
      color: var(--gray-3, #828282);

      & li {
         position: relative;
         padding-left: 18px;

         &::before {
            content: ""; /* Юникод символ буллета */
            position: absolute;
            left: 0;
            right: 50%;
            top: 50%;
            z-index: 40;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            color: currentColor;
            background-color: currentColor;
            transform: translate(-50%, -50%);
            /* transform: translateY(-50%); */
         }
      }
   }
}


.dropdown-container.activated {
   display: flex;
}


