.machine-learning {
   display: flex;
   flex-shrink: 0;
   max-height: 511px;
   padding-top: 91px;
   background: var(--green-3, #263936);
}


.machine-learning__header {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   align-items: start;
   justify-items: start;

   & h2 {
      grid-column: 6 span;
      max-width: 723px;
      color: var(--white);

      & span {
         color: var(--green-1, #86ac6a);
      }

   }

   & .more-btn {
      grid-column: 10 / span 3;
      justify-self: end;
      margin-top: 32px;
   }
}


.machine-learning__content {

}


.ml-content {
}


.machine-learning__card-list {
}


.ml-card-list {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   column-gap: 30px;
   align-items: start;
   justify-items: start;
}


.ml-card-list__item {
   position: relative;
   top: 123px;
   grid-column: 3 span;
   justify-content: center;
   height: 367px;
   border-radius: 15px;
   padding: 93px 18px 75px 18px;
   box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.10);
   background-color: var(--white, #ffffff);

   & h3 {
      text-align: center;
      color: var(--gray-1, #232323);
   }

   & p {
      font-weight: 500;
      font-size: 15px;
      line-height: 1.8;
      text-align: center;
      color: var(--gray-1, #232323);
   }
}


.ml-card-list__icon {
   position: absolute;
   left: 50%;
   top: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 135px;
   height: 135px;
   border: 4px solid #d9edca;
   border-radius: 70px;
   background: var(--white, #ffffff);
   background-size: cover;
   background-repeat: no-repeat;
   transform: translate(-50%, -50%);

   & svg {

      left: 10px;
      top: 0px;
      width: 95px;
      height: 95px;
      fill: var(--green-1, #86ac6a);
      background-repeat: no-repeat;
   }
}


.ml-card-list__content {
}
