.more-btn {
   display: flex;
   column-gap: 5px;
   align-items: center;
   font-weight: 700;
   font-size: 20px;
   color: var(--text-color);
   transition: all 0.18s ease-in-out;
   --text-color: var(--green-1);

   & svg {
      width: 24px;
      height: 24px;
      /* border-radius: 4px; */
      fill: currentColor;
   }

   &:focus {
      outline: none;
   }

   &:focus-visible {
      outline: 4px solid tomato;
      outline-offset: 2px;
      border-radius: 1px;
   }

   &:hover {
      text-decoration: underline;
      color: #a0d27a;
   }
}


.more-btn--white {
   --text-color: var(--white);
}
